/* STEP 1: Congigure an element to be animated */

#animated-shape {
    background: rgb(255, 255, 230);
    width: 200px;
    height: 200px;
    /* sub-properties for the animation */
    animation-name: colorchange-alt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* STEP 2: Define the animation sequence */

@keyframes colorchange{
    from { background:rgb(255, 255, 230); }
    to { background:rgb(248, 241, 114); }
}

@keyframes colorchange-alt{
    0%{ background:rgb(249, 159, 231); }
    50%{ 
        background: rgb(248, 241, 114); 
        transform: skew(40deg) scale(0.2) rotate(3600deg);
        
    }
    100%{ background: rgb(255, 251, 182); }
}

/* STEP 1: Congigure an element to be animated
    but using the shortcut "animation" property which 
    sets the name, duration, iterations, timing function
    ALL IN ONE LINE!
*/

#animate-emoji {
    font-size: 50px;
    animation: move-emoji 5s infinite ease-in-out;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 75px;
}

/*  STEP 2: Define an animation sequence */
@keyframes move-emoji{
    0% {
        transform: rotate(0deg);

    }
    50%{
        transform: rotate(180deg) scale(1.5);
        opacity: 0;

    }
    
    100% {
        transform: rotate(360deg);

    }
}


.box{
    background:rgb(255, 251, 182);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
/* Transform is a property that takes functional values like f(x) to change an element */

#rotate {
    transform:rotate(-10deg);
}

#scale{
    transform:scale(0.5);
}

#skew{
    transform: skew(-25deg);
}

/* trasnlate (x) moves element horizontally to the right (if x is positive)
    translate (x,y) moves element diagonally 
    translate (0,y) moves vertically
*/

#translate{
    transform:translate(100px , 60px);
}

#chain {
    transfrom: scale(1.2) rotate(45deg);
}