.box{
    background:rgb(255, 251, 182);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
/* Transform is a property that takes functional values like f(x) to change an element */

#rotate {
    transform:rotate(-10deg);
}

#scale{
    transform:scale(0.5);
}

#skew{
    transform: skew(-25deg);
}

/* trasnlate (x) moves element horizontally to the right (if x is positive)
    translate (x,y) moves element diagonally 
    translate (0,y) moves vertically
*/

#translate{
    transform:translate(100px , 60px);
}

#chain {
    transfrom: scale(1.2) rotate(45deg);
}